.content {
    width: 960px;
    margin: 0 auto;
}

.content .main-movie_box {
    padding-top: 30px;
    position: relative;
}

.content .main-movie_box .main-movie_button {
    position: absolute;
    top: 0;
    left: 0;
}